/* Sambridhi Dhakal 
9048885 */

body{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    font: 16px Arial;
    padding: 20px;
}

.header,.footer{
    border: 2px solid black;
    border-radius: 10px;
    padding: 15px;
    margin: 20px;
    background-color: rgb(118, 220, 220);
}

h1{
    color: darkred;
    font-variant: small-caps;
}
h2{
    color: darkblue;
    font-variant: small-caps;
}

footer p{
    font-size: 15px;
    color: rgb(206, 85, 85);
}

main{
    width: 850px;
    float: left;
    padding: 20px;
}
aside {          
    float: left;           
    padding: 20px;  
    background-color:rgb(151, 220, 220);       
    height: 1400px;         
    border-radius: 10px;
  }

.mainimg{
    border: 3px solid gray;
    width: 100%;
}

figcaption{
    font-weight: bold;
    font-variant: small-caps;
    text-align: center;
}

q{
    font-family: cursive;
    font-style: italic;
    font-size: 1.2em;
}

ul li{
    list-style: none;
    line-height: 3em;
}

ul > li > a{
    text-decoration: none;
    color:rgb(0, 132, 255);
}

aside a:hover{
    color: rgb(160, 19, 19);
}

footer{
    clear: both;
}
  